<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <!--1. v-for遍历对象的时候，如果只取一个值， 那么获取到的是value-->
  <ul>
    <li v-for="item in info">{{item}}</li>
  </ul>

  <!--2. 获取key和value的时候，格式：(value, key)    value 是在前面的， key在后面-->
  <ul>
    <li v-for="(value, key) in info">{{value}}-{{key}}</li>
  </ul>

  <!--3. 遍历对象的时候可以获取下标， 对象下标没啥用， 数组的有用-->
  <ul>
    <li v-for="(value, key, index) in info">{{value}}-{{key}}-{{index}}</li>
  </ul>

</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      info: {
        name: 'lin',
        age: 19,
        height: 1.87
      }
    }
  })
</script>
</body>
</html>